<div style="width: 100vw">
  <div id="dashboard-layout" class="container">

    <div class="top-logo">
      <%= image_tag "moto_logo.png", alt: "Moto", width: 200, class: "logo-on-top" %>
    </div>

    <div id="dashboard-contents">
      <h1 id="challenge-header">My Challenges</h1>

      <div class="challenge-rollers">

        <div class="challenge-roller-box">
          <h2>Active</h2>

          <div class="challenge-roller">
            <div class="card-list">

              <% @active_challenges.each do |challenge| %>
                <% opp = the_other_guy(challenge, current_user) %>
                <%= link_to challenge_path(challenge) do %>
                  <div class="dash-challenge-card">
                    <div>
                      <p><%= opp.username %></p>
                      <%= cl_image_tag opp.photo.key, alt: "Profiloto",
                          width: 50,
                          height: 50,
                          gravity: "face",
                          crop: "thumb",
                          cloud_name: "dtrwqimx6",
                          class: 'dash-avatar'
                      %>
                      <p><%= remaining_time_string(challenge) %></p>
                    </div>
                  </div>
                <% end %>
              <% end%>

            </div>
          </div>
        </div>

        <div class="challenge-roller-box">
          <h2>Pending</h2>

          <div class="challenge-roller">
            <div class="card-list">

              <% @pending_challenges.each do |challenge| %>
                <% opp = the_other_guy(challenge, current_user) %>
                <!-- creates hidden submit button -->
                <%= simple_form_for(challenge) do |f| %>
                  <div id="challenge-<%= challenge.id %>" class="activate-challenge" data-challenge-id="<%= challenge.id %>">
                    <%= f.button :submit, "", class: "d-none" %>
                  </div>
                <% end %>

                <div style="margin-right: 16px;">
                  <div class="dash-challenge-card" style="margin: 0 0 4px 0 !important;">
                    <div>
                      <div class="d-flex flex-row">
                        <%= cl_image_tag opp.photo.key, alt: "Profiloto",
                            width: 30,
                            height: 30,
                            gravity: "face",
                            crop: "thumb",
                            cloud_name: "dtrwqimx6",
                            class: 'dash-avatar',
                            style: 'margin-right: 4px'
                        %>
                        <p><%= opp.username %></p>
                      </div>

                      <% if opp.id == challenge.challenger.user.id %>
                        <p>challenges you</p>
                      <% else %>
                        <p>is deciding</p>
                      <% end %>

                    </div>
                  </div>
                  <% if opp.id == challenge.challenger.user.id %>
                    <div class="d-flex justify-content-center">
                      <div class="d-flex justify-content-between" style="min-width: 62px">
                        <!-- added the stuff below -->
                        <i class="far fa-check-circle icon-clicker check-box-icon" data-challenge-id="<%= challenge.id %>"></i>
                        <i class="far fa-times-circle icon-clicker btn-challenge-cancel" data-challenge-id="<%= challenge.id %>"></i>
                        <%= link_to "", challenge_path(challenge), class: "reject-link",  method: :delete %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end%>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="dashboard-nav">
      <% votable = @user.next_votable_challenge %>
      <% if votable %>
        <%= link_to new_challenge_vote_path(votable) do %>
          <%= image_tag "vote_page_button.png", alt: "Voto", width: 60, height: 60 %>
        <% end %>
      <% else %>
        <%= link_to '#', data: { confirm: "There are no challenges on the chopping block right now. Check back soon!" } do %>
          <%= image_tag "vote_page_button.png", alt: "Voto", width: 60, height: 60 %>
        <% end %>
      <% end %>

      <%= link_to new_challenge_path do %>
        <%= image_tag "cook_off_button.png", alt: "Creaoto", width: 100 %>
      <% end %>

      <%= link_to profile_path(current_user.id) do %>
        <%= cl_image_tag @user.photo.key, alt: "Profiloto",
            width: 60,
            height: 60,
            gravity: "face",
            crop: "thumb",
            cloud_name: "dtrwqimx6",
            class: 'dash-avatar'
        %>
      <% end %>

    </div>
  </div>
</div>

<script>
  const checks = document.querySelectorAll('.check-box-icon');
  // const invisible_submits = document.querySelectorAll('.activate-challenge > button');
  checks.forEach((check) => {
    check.addEventListener("click", (event) => {
      let check_id = check.dataset.challengeId
      let invisible_submit = document.querySelector(`#challenge-${check_id} > input`);
      invisible_submit.click();
      // console.log(invisible_submit);
    });
  });

</script>

<%= javascript_pack_tag 'swal' %>
