<div style="width: 100vw">
  <div id="dashboard-layout" class="container">

    <div class="top-logo">
      <%= image_tag "moto_logo.png", alt: "Moto", width: 150, class: "logo-on-top" %>
    </div>

    <div id="dashboard-contents">
      <h1 id="challenge-header">My Challenges</h1>

      <div class="challenge-rollers">

        <div class="challenge-roller-box">
          <h2>Active</h2>

          <div class="challenge-roller">
            <div class="card-list">

              <% @active_challenges.each do |challenge| %>
                <% opp = the_other_guy(challenge, current_user) %>
                <div class="dash-challenge-card">
                  <div>
                    <p><%= opp.username %></p>
                    <%= cl_image_tag opp.photo.key, alt: "Profiloto",
                        width: 50,
                        height: 50,
                        gravity: "face",
                        crop: "thumb",
                        cloud_name: "dtrwqimx6",
                        class: 'dash-avatar'
                    %>
                    <p><%= remaining_time_string(challenge) %></p>
                  </div>
                </div>
              <% end%>

            </div>
          </div>
        </div>

        <div class="challenge-roller-box">
          <h2>Pending</h2>

          <div class="challenge-roller">
            <div class="card-list">

              <% @pending_challenges.each do |challenge| %>
                <% opp = the_other_guy(challenge, current_user) %>
                <div class="dash-challenge-card">
                  <p><%= opp.username %></p>
                </div>
              <% end%>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div id="dashboard-nav">
      <%= image_tag "vote_page_button.png", alt: "Voto", width: 60, height: 60 %>

      <%= link_to new_challenge_path do %>
        <%= image_tag "cook_off_button.png", alt: "Creaoto", width: 100 %>
      <% end %>

      <%= link_to profile_path(current_user.id) do %>
        <%= cl_image_tag @user.photo.key, alt: "Profiloto",
            width: 60,
            height: 60,
            gravity: "face",
            crop: "thumb",
            cloud_name: "dtrwqimx6",
            class: 'dash-avatar'
        %>
      <% end %>

    </div>
  </div>
</div>
