<div class="container show-container">


  <%= link_to challenges_path do %>
    <i class="fas fa-chevron-left"></i>
  <%  end %>

<div class="row justify-content-center">
  <% if @challenge.mode == "creative" %>
    <%= image_tag("lightbulb.png", size: "24x24",  class: "mt-1 mr-1") %>
  <% else %>
    <%= image_tag("cutlery.png", size: "24x24",  class: "mt-2 mr-1") %>
  <% end %>
  <h2><strong> <%= @challenge.mode.capitalize %> Mode </strong></h2>
</div>

<!-- <br> -->

<div class="row text-center">
  <div class="container my-6">
    <div id="clockdiv">
      <div>
        <span class="days"></span>
        <div class="smalltext">Days</div>
      </div>
      <div>
        <span class="hours"></span>
        <div class="smalltext">Hours</div>
      </div>
      <div>
        <span class="minutes"></span>
        <div class="smalltext">Minutes</div>
      </div>
      <div>
        <span class="seconds"></span>
        <div class="smalltext">Seconds</div>
      </div>
    </div>
  </div>
</div>

<!-- <br> -->

<div class="container">
  <div class="row text-center mt-3">
    <div class="col-12">
      <% opp = the_other_guy(@challenge, current_user) %>
      <h4> Beat <%= opp.username %>! </h4>
    </div>
  </div>
</div>

<div class="row text-center">
  <!-- <img class="challenge-avatar mx-auto d-block"  src="https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""> -->
  <%= cl_image_tag opp.photo.key, alt: "Profiloto",
      width: 120,
      height: 120,
      crop: "fill",
      cloud_name: "dtrwqimx6",
      class: 'challenge-avatar mx-auto d-block'
  %>
</div>

<div><!-- ingredients -->
  <% if @challenge.mode == "creative" %>
    <div class="row c-ingredient-row">
      <div class="col-2 ingredient-icon">
        <i class="fas fa-wine-bottle"></i>
      </div>
      <div class="col-8 c-ingredient-name">
        <%= @challenge.ingredients[0].name  %>
      </div>
      <div class="col-2 ingredient-space-filler"></div>
    </div><!-- /ingredient-row -->
    <div class="row c-ingredient-underline-row"></div>

    <div class="row c-ingredient-row">
      <div class="col-2 c-ingredient-icon">
        <i class="fas fa-fish"></i>
      </div>
      <div class="col-8 c-ingredient-name">
        <%= @challenge.ingredients[1].name  %>
      </div>
      <div class="col-2 ingredient-space-filler"></div>
    </div><!-- /ingredient-row -->
    <div class="row c-ingredient-underline-row"></div>

    <div class="row c-ingredient-row">
      <div class="col-2 c-ingredient-icon">
        <i class="fas fa-carrot"></i>
      </div>
      <div class="col-8 c-ingredient-name">
        <%= @challenge.ingredients[2].name  %>
      </div>
      <div class="col-2 ingredient-space-filler"></div>
    </div>
    <div class="row c-ingredient-underline-row"></div>

    <div class="row c-ingredient-row">
      <div class="col-2 c-ingredient-icon">
        <i class="fas fa-wine-bottle"></i>      </div>
        <div class="col-8 c-ingredient-name">
          <%= @challenge.ingredients[3].name  %>
        </div>
        <div class="col-2 ingredient-space-filler"></div>
      </div>
      <div class="row c-ingredient-underline-row"></div>
    </div>
   <% else %>
    <div class="row">
      <div class="col d-flex justify-content-center mt-3">
        <h4><strong> Grilled Eggplant With Feta </strong></h4>
      </div>
    </div>
    <div class="row justify-content-center" id="classic-image">
      <%= image_tag("food5.jpg", height: 250, width: 250) %>
    </div>
   <% end %>

</div>


<br>
<br>

<div class="row justify-content-center">
  <%= link_to 'Finished - Ready To Serve!', challenge_serve_path(@challenge), class:'btn c-btn-purple' %>
</div>
</div>

<script>

  function getTimeRemaining(endtime) {
    let t = Date.parse(endtime) - Date.parse(new Date());
    let seconds = Math.floor((t / 1000) % 60);
    let minutes = Math.floor((t / 1000 / 60) % 60);
    let hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    let days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    let clock = document.getElementById(id);
    let daysSpan = clock.querySelector('.days');
    let hoursSpan = clock.querySelector('.hours');
    let minutesSpan = clock.querySelector('.minutes');
    let secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      let t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    let timeinterval = setInterval(updateClock, 1000);
  }

  let deadline = new Date(<%= (@challenge.expiration).strftime('%Q') %>);
  initializeClock('clockdiv', deadline);
</script>
