<div>
  <h1 id="vote-result-header"><%= challenge.mode.capitalize %> Mode Results</h1>
  <div class="player-result challenger-player">
    <div class="id-line">
      <%= cl_image_tag challenge.challenger.user.photo.key, alt: "Challenger Avatar",
          width: 32,
          height: 32,
          crop: "fill",
          cloud_name: "dtrwqimx6",
          class: "vote-result-avatar"
      %>
      <p><%= challenge.challenger.user.username %></p>
    </div>
    <div class="image-line">
      <div class="submission-image" style="background-image: url(https://res.cloudinary.com/dtrwqimx6/image/upload/v1583237001/<%= challenge.challenger.photo.key %>);">
        <!-- background image is challenger submission -->
        <h3><%= challenge.challenger.title %></h3>
      </div>

      <div class="vote-percentage-display">
        <h2><%= challenge.challenger.votes.count %></h2>
        <small>votes</small>
      </div>

    </div>
  </div>

  <div class="player-result opponent-player">
    <div class="image-line">

      <div class="vote-percentage-display">
        <h2><%= challenge.opponent.votes.count %></h2>
        <small>votes</small>
      </div>

      <div class="submission-image" style="background-image: url(https://res.cloudinary.com/dtrwqimx6/image/upload/v1583237001/<%= challenge.opponent.photo.key %>);">
        <!-- background image is challenger submission -->
        <h3><%= challenge.opponent.title %></h3>
      </div>
    </div>
    <div class="id-line">
      <p><%= challenge.opponent.user.username %></p>
      <%= cl_image_tag challenge.opponent.user.photo.key, alt: "Opponent Avatar",
          width: 32,
          height: 32,
          crop: "fill",
          cloud_name: "dtrwqimx6",
          class: "vote-result-avatar"
      %>
    </div>
  </div>

</div>

