<!-- <div class="container"> -->
  <%= link_to challenges_path do %>
    <i class="fas fa-chevron-left"></i>
  <%  end %>

  <!-- <div class="container voting-page"> -->
  <div class="tab-content page-new-vote" id="nav-tabContent">
   <!-- PAGE ONE: CHALLENGE INFO -->
    <div class="tab-pane fade show active challenge-info" id="nav-challenge-info">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col d-flex justify-content-center">
            <img src="https://image.flaticon.com/icons/svg/1152/1152919.svg" alt="image" class="light-bulb-icon">
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center mt-3">
            <h1><strong><%= @challenge.mode.capitalize %> Mode</strong></h1>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center mt-3">
            <h3>Your Challenge:</h3>
          </div>
        </div>
        <!-- ingredients -->
        <div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-wine-bottle"></i>
            </div>
            <div class="col-8 ingredient-name">
              <!-- I AM WORKING HERE -->
              <%= @challenge.ingredients[0].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div><!-- /ingredient-row -->
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-fish"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[1].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div><!-- /ingredient-row -->
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-carrot"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[2].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div>
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-wine-bottle"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[3].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div>
          <div class="row ingredient-underline-row"></div>
        </div><!-- /ingredients -->
      </div>
    </div>

    <!-- PAGE USER ONE -->
    <div class="tab-pane fade page-user-one" id="nav-player-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="d-flex justify-content-center">
            <%#= cl_image_tag @challenge.challenger.photo.key, height: 500, width: 370, crop: :fill %>

            <% if @challenge.challenger.photo.attached? %>
              <%= cl_image_tag @challenge.challenger.photo.key, height: 500, width: 370, crop: :fill %>
            <% else %>
              <%= image_tag("prep2.jpeg", height: 500, width: 370) %>
            <% end %>

          </div>
        </div>
        <div class="row justify-content-center">
          <h2><%= @challenge.challenger.title %></h2>
          <div class="row justify-content-center comment-row">
            <div class="d-flex col-12 justify-content-center">
             <% if @challenge.challenger.caption.nil? %>
              <p>Waiting for <%= @challenge.challenger.user.username %> to upload...</p>
             <% else %>
              <p><%= @challenge.challenger.caption %></p>
             <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center mt-3 pt-3 checkmark-row">
        <div class="col-2 checkmark-icon">
          <i class="far fa-check-circle"></i>
        </div>
      </div>
    </div><!-- /page-user-one -->

    <!-- PAGE USER TWO -->
    <div class="tab-pane fade page-user-two" id="nav-player-2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="d-flex justify-content-center">
            <% if @challenge.opponent.photo.attached? %>
              <%= cl_image_tag @challenge.opponent.photo.key, height: 500, width: 370, crop: :fill %>
            <% else %>
              <%= image_tag("prep2.jpeg", height: 500, width: 370) %>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center">
          <h2><%= @challenge.opponent.title %></h2>
          <div class="row justify-content-center comment-row">
            <div class="d-flex col-12 justify-content-center">
              <% if @challenge.opponent.caption.nil? %>
                <p>Waiting for <%= @challenge.opponent.user.username %> to upload...</p>
              <% else %>
                <p><%= @challenge.opponent.caption %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center mt-3 pt-3 checkmark-row">
        <div class="col-2 checkmark-icon">
          <i class="far fa-check-circle"></i>
        </div>
      </div>
    </div><!-- /page-user-two -->
<!-- </div> -->

    <!-- NAV FOOTER -->
    <nav>
      <div class="nav nav-tabs creative-vote-footer" role="tablist">
        <a class="nav-item nav-link" id="nav-player-1-tab" data-toggle="tab"
           href="#nav-player-1" role="tab"
           aria-controls="nav-player-1">
          <%= cl_image_tag @challenge.challenger.user.photo.key, class: 'voting-avatar', height: 100, width: 100, crop: :fill %>
        </a>
        <a class="nav-item nav-link active" id="nav-challenge-info-tab" data-toggle="tab"
           href="#nav-challenge-info" role="tab"
           aria-controls="nav-challenge-info" aria-selected="true">
         <%= image_tag("chef_purple.png", class: 'mt-3', size: "70x70") %>
        </a>
        <a class="nav-item nav-link" id="nav-player-2-tab" data-toggle="tab"
           href="#nav-player-2" role="tab"
           aria-controls="nav-player-2">
         <%= cl_image_tag @challenge.opponent.user.photo.key, class: 'voting-avatar', height: 100, width: 100, crop: :fill %>
        </a>
      </div>
    </nav>
  </div>
<!-- </div> -->
