<!-- <div class="container"> -->
  <div class="back-arrow">
    <%= link_to challenges_path do %>
    <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>

    <div class="tab-content page-new-vote" id="nav-tabContent">
     <!-- PAGE ONE: CHALLENGE INFO -->
     <div class="tab-pane fade show active challenge-info" id="nav-challenge-info">
      <div class="container">
        <div class="row justify-content-center" id="vote-intro">
          <!-- <div class="col d-flex justify-content-center">
            <img src="https://image.flaticon.com/icons/svg/1152/1152919.svg" alt="image" class="light-bulb-icon">
          </div> -->

          <% if current_user == @challenge.challenger.user || @challenge.opponent.user %>
          <p>Your post is live for voting!</p>
          <% else %>
          <p>Vote on your favourite dish <i class="far fa-check-circle" id="check"></i></p>
          <% end %>



        </div>
        <div class="row">
          <div class="col d-flex justify-content-center mt-3">
            <h2><strong><%= @challenge.mode.capitalize %> Mode</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center mt-3 vote-intro">
            <h3>Challenge:</h3>
          </div>
        </div>
        <!-- ingredients -->
        <div>
          <% if @challenge.mode == "creative" %>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-wine-bottle"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[0].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div><!-- /ingredient-row -->
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-fish"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[1].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div><!-- /ingredient-row -->
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-carrot"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[2].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div>
          <div class="row ingredient-underline-row"></div>
          <div class="row ingredient-row">
            <div class="col-2 ingredient-icon">
              <i class="fas fa-wine-bottle"></i>
            </div>
            <div class="col-8 ingredient-name">
              <%= @challenge.ingredients[3].name %>
            </div>
            <div class="col-2 ingredient-space-filler"></div>
          </div>
          <div class="row ingredient-underline-row"></div>
          <% else %>

          <div class="row justify-content-center" id="classic-image">
            <%= image_tag("food5.jpg", height: 300, width: 300) %>

          </div>
          <div class="row">
            <div class="col d-flex justify-content-center mt-3">
              <h4><strong> Grilled Eggplant With Feta </strong></h4>
            </div>
          </div>
          <% end %>
        </div><!-- /ingredients -->
      </div>
    </div>

    <!-- PAGE USER ONE -->
    <div class="tab-pane fade page-user-one" id="nav-player-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="d-flex justify-content-center">


            <% if @challenge.challenger.photo.attached? %>
            <%= cl_image_tag @challenge.challenger.photo.key, class: 'vote-image', height: 300, width: 300, crop: :fill %>
            <% else %>
            <%= image_tag("prep2.jpg", class: 'vote-image',  height: 300, width: 300) %>

            <% end %>

          </div>
        </div>
        <div class="text-center">
          <h2 text-center><%= @challenger.title %></h2>
        </div>
        <div class="row justify-content-center">
          <div class="row justify-content-center comment-row">
            <div class="d-flex col-12 justify-content-center text-center">
             <% if @challenger.caption.nil? %>
             <p>Waiting for <%= @challenger.user.username %> to upload...</p>
             <% else %>
             <p><%= @challenger.caption %></p>
             <% end %>
           </div>
         </div>
        </div>
     </div>
    <% if current_user != @challenge.challenger.user && current_user != @challenge.opponent.user && @challenge.has_he_voted?(current_user) == false %>
    <div class="justify-content-center checkmark-row text-center">
      <div class="checkmark-icon">
       <input type='radio' id='challenger-vote' checked='' name='radio'>
       <label for='challenger-vote'><i class="far fa-check-circle"></i></label>
      </div>
      <div class="btn btn-purple" id="ninja-submit2" style="display: none;">
        Submit Vote
      </div>
    </div>
  <% end %>
</div><!-- /page-user-one -->

<!-- PAGE USER TWO -->
<div class="tab-pane fade page-user-two" id="nav-player-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="d-flex justify-content-center">
        <% if @opponent.photo.attached? %>
        <%= cl_image_tag @opponent.photo.key, class: 'vote-image', height: 500, width: 370, crop: :fill  %>
        <% else %>
        <%= image_tag("prep2.jpg", class: 'vote-image', height: 500, width: 370) %>
        <% end %>
      </div>
    </div>
    <div class="text-center">
      <h2><%= @opponent.title %></h2>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center comment-row">
        <div class="d-flex col-12 justify-content-center">
          <% if @opponent.caption.nil? %>
          <p>Waiting for <%= @opponent.user.username %> to upload...</p>
          <% else %>
          <p><%= @opponent.caption %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% if (current_user != @challenge.challenger.user && current_user != @challenge.opponent.user) && @challenge.has_he_voted?(current_user) == false %>
  <div class="justify-content-center checkmark-row text-center">
    <div class="checkmark-icon2">
      <input type='radio' id='opponent-vote' checked='checked' name='radio'>
      <label for='opponent-vote'><i class="far fa-check-circle"></i></label>
    </div>
  </div>
  <div class="btn btn-purple" id="ninja-submit" style="display: none;">
    Submit Vote
  </div>
  <% end %>
</div><!-- /page-user-two -->
<!-- </div> -->

<!-- NAV FOOTER -->
<nav>
  <div class="row justify-content-center">
    <div class="nav nav-tabs creative-vote-footer" role="tablist">
      <a class="nav-item nav-link" id="nav-player-1-tab" data-toggle="tab"
      href="#nav-player-1" role="tab"
      aria-controls="nav-player-1">
      <%= cl_image_tag @challenger.user.photo.key, class: 'voting-avatar', height: 100, width: 100, crop: :fill %>
      </a>
      <a class="nav-item nav-link active" id="nav-challenge-info-tab" data-toggle="tab"
      href="#nav-challenge-info" role="tab"
      aria-controls="nav-challenge-info" aria-selected="true">
      <%= image_tag("chef_hat3.svg", class: 'mt-3', size: "70x70") %>
      </a>
      <a class="nav-item nav-link" id="nav-player-2-tab" data-toggle="tab"
      href="#nav-player-2" role="tab"
      aria-controls="nav-player-2">
      <%= cl_image_tag @opponent.user.photo.key, class: 'voting-avatar', height: 100, width: 100, crop: :fill %>
      </a>
    </div>
  </div>
</nav>
</div>

<%= link_to "submit vote", challenge_votes_path, method: :post, class: "sneaky-btn-returns", style: "display: none;" %>


<script>

  let vote = document.querySelector('.checkmark-icon > input')
  let vote2 = document.querySelector('.checkmark-icon2 > input')
  let target = document.querySelector('.sneaky-btn-returns')
  ninjaSubmit = document.querySelector('#ninja-submit')
  ninjaSubmit2 = document.querySelector('#ninja-submit2')


  vote.addEventListener('click', () => {
    handleVote(vote)
  })

  vote2.addEventListener('click', () => {
    handleVote(vote2)
  })


  ninjaSubmit.addEventListener('click', () => {
    target.click()
  })

  ninjaSubmit2.addEventListener('click', () => {
    target.click()
  })

  let handleVote = (result) => {
    console.log(result)
    let opponentSumbitter = document.querySelector('#ninja-submit');
    let challengerSumbitter = document.querySelector('#ninja-submit2');
    let sneakySubmit = document.querySelector('sneaky-btn-returns');
    let player = <%=@opponent.id%>
    if (result.id == 'challenger-vote') {
      opponentSumbitter.style.display = "none"
      challengerSumbitter.style.display = "block"
      let player = <%=@challenger.id%>
    } else {
      challengerSumbitter.style.display = "none"
      opponentSumbitter.style.display = "block"
    }
    let ninja = `/challenges/${<%=@challenge.id%>}/votes?player=${player}`
    target.href = ninja;
    // let isChecked = document.getElementById('challenger-vote').checked;
    // mode = isChecked ? 'challenger' : 'opponent';
    // let ninja = `/challenges?challenger=${challenger}&opponent=${opponent}&mode=${mode}&recipe=${recipe}&protein=${protein}&grain=${grain}&dairy=${dairy}&vegetable=${vegetable}`
    // let target = document.querySelector('.sneaky-btn')
    // target.href = ninja;
    // target.click()
  }

</script>
<!-- </div> -->
